/*! header */

header nav {
  background-color: azure;
  height: 12vh;
}

header div a img {
  width: 40px;
}

.hero-section {
  height: 88vh;
  background-image: url("./IMG/encabezado.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-fondo {
  height: 88vh;
  background-color: rgb(5, 5, 81);
}

.divider {
  width: 2px;
  background-color: white;
  height: 445px;
  opacity: 0.7;
}

.divider-horizontal {
  width: 100%;
  background-color: white;
  height: 3px;
  opacity: 0.7;
}

.titulo-caja {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  font-weight: bold;
  backdrop-filter: blur(4px);
  padding: 10px;
  margin-bottom: 1.5rem;
}
